.top-5{
    background-color: rgba(24, 22, 22, 0.8);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0px 10px;
    border: 1px dotted black;
    border-radius: 15px ;
    box-shadow:  rgba(14, 13, 13, 0.3) 10px 10px,rgba(52, 52, 54, 0.4) 5px 5px;
}

.top-5 h1{
    margin: 5px 0px 0px 30px;
    color: white;
    font-family:cursive;

}
 p{
     margin: 0px;
     color: white;
     text-align: center;
 }